@charset "utf-8";

@import "colors";
@import "mixins";

body {
    /* background: #d4d4d4 url("../images/background.png"); */
    background-color: wheat;
    font-family: sans-serif;
}

h1 {
    color: rgba(0, 0, 0, .3);
    font-weight: bold;
    font-size: 32px;
    letter-spacing: -1px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
    /* background: url("../images/middleman.png") no-repeat center 100px; */
    padding: 35px 0 10px;
    margin: 0;
}

.doc {
    font-size: 14px;
margin: 0; }
.doc:before,
.doc:after {
    opacity: .2;
    padding: 6px;
    font-style: normal;
    position: relative;
content: "•"; }
.doc a {
color: rgba(0, 0, 0, 0.3); }
.doc a:hover {
color: #666; }

.welcome {
    width: 100%;
    -webkit-animation-name: welcome;
    -webkit-animation-duration: .9s;
}

@-webkit-keyframes welcome {
    from {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    50% {
        -webkit-transform: scale(0);
        opacity: 0;
    }
    82.5% {
        -webkit-transform: scale(1.03);
        -webkit-animation-timing-function: ease-out;
        opacity: 1;
    }
    to {
        -webkit-transform: scale(1);
    }
}

#intro {
    text-align: center;
}



#box_container {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
}

.half-box {
    float: left;
    width: 50%;
    height: 100%;
    background-color: darken($blue-green, 10);
}

.half-box > .text {
    @include vertical-align;
}

#box2 {
    background-color: darken($blue-green, 20);
}

#question {
    position: absolute;
    font-size: 5vw;
    width: 100%;
    color: #FFF;
    z-index: 1;
}

section {
    height: 100vh;
}

section.short {
    height: 90vh;
}
