/* Mixin */
@keyframes rotate-za {
  0% {
    transform: scale(1); }
  1000% {
    transform: scale(2);
    letter-spacing: 1em; } }
@keyframes spin {
  0% {
    transform: rotate(0deg);
    font-size: 2em; }
  50% {
    transform: rotate(80deg);
    font-size: 10em; }
  100% {
    transform: rotate(0deg);
    font-size: 2em; } }
/* line 30, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
.pizza {
  margin-top: 20vh;
  animation: spin 20s infinite linear; }

/* line 37, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
#background {
  z-index: -1;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  pointer-events: none; }

/* line 49, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
body {
  background-color: red;
  font-family: sans-serif; }

/* line 54, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  padding: 35px 0 10px;
  margin: 0; }

/* line 65, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
.welcome {
  width: 100%;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
/* line 90, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
#intro {
  text-align: center; }

/* line 96, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
#box_container {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0; }

/* line 103, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
.half-box {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #238784; }

/* line 110, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
.circle {
  display: block;
  background-color: blue;
  background: #d4d4d4 url("../images/background-29e26e74.png");
  border-radius: 50%;
  width: 20vw;
  height: 20vw;
  transform: translateX(50%) translateY(25vh); }

/* line 120, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
.circle > .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 124, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
#box2 {
  background-color: #195e5d; }

/* line 128, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
#question {
  position: absolute;
  font-size: 5vw;
  width: 100%;
  color: #FFF;
  z-index: 1; }

/* line 136, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
section {
  height: 100vh; }

/* line 140, /Users/tiny/code/misc/letshaveapizzadotparty/source/stylesheets/all.scss */
section.short {
  height: 90vh; }
