@charset "UTF-8";
/* Mixin */
/* line 12, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/_mixins.scss */
.element p {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 6, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
body {
  /* background: #d4d4d4 url("../images/background-29e26e74.png"); */
  background-color: wheat;
  font-family: sans-serif; }

/* line 12, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
h1 {
  color: rgba(0, 0, 0, 0.3);
  font-weight: bold;
  font-size: 32px;
  letter-spacing: -1px;
  text-transform: uppercase;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  /* background: url("../images/middleman-50d9de35.png") no-repeat center 100px; */
  padding: 35px 0 10px;
  margin: 0; }

/* line 24, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.doc {
  font-size: 14px;
  margin: 0; }

/* line 27, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.doc:before,
.doc:after {
  opacity: .2;
  padding: 6px;
  font-style: normal;
  position: relative;
  content: "•"; }

/* line 34, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.doc a {
  color: rgba(0, 0, 0, 0.3); }

/* line 36, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.doc a:hover {
  color: #666; }

/* line 39, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.welcome {
  width: 100%;
  -webkit-animation-name: welcome;
  -webkit-animation-duration: .9s; }

@-webkit-keyframes welcome {
  from {
    -webkit-transform: scale(0);
    opacity: 0; }
  50% {
    -webkit-transform: scale(0);
    opacity: 0; }
  82.5% {
    -webkit-transform: scale(1.03);
    -webkit-animation-timing-function: ease-out;
    opacity: 1; }
  to {
    -webkit-transform: scale(1); } }
/* line 64, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
#intro {
  text-align: center; }

/* line 70, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
#box_container {
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0; }

/* line 77, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.half-box {
  float: left;
  width: 50%;
  height: 100%;
  background-color: #238784; }

/* line 84, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
.half-box > .text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 88, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
#box2 {
  background-color: #195e5d; }

/* line 92, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
#question {
  position: absolute;
  font-size: 5vw;
  width: 100%;
  color: #FFF;
  z-index: 1; }

/* line 100, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
section {
  height: 100vh; }

/* line 104, /Users/tiny/webProjects/letshaveapizzadotparty/source/stylesheets/all.scss */
section.short {
  height: 90vh; }
