---
title: The Page's title ;)
---

<section id="intro">
    <h1 id="question" class="welcome">
        Which site did you come here for?
    </h1>
    <!-- <div id="box_container"> -->
        <div id="box1" class="half-box welcome">
            <span class="text">
                "Let's Have A Pizza.Party!"
            </span>
        </div>
        <div id="box2" class="half-box welcome">
            <div class="text">
                "Let Shave A Pizza.Party...."
            </div>

            <div class="text">Boopp!</div>
        </div>

            <div class="text">Boopp!</div>
    <!-- </div> -->
</section>

<section class="">
    hey!
</section>
<!-- .welcome -->
